#video
  %video{:src => @video_src, :controls => "on", :width => 480, :height => 270} 
    Video tag not supported, please use a browser that supports the video tag (Safari 3.1, Chrome 3.0, Firefox 3.5)
%p
  Currently this video can only be viewed on an iPhone or iPod Touch with OS >= 3.0, or with QuickTime X (Mac OS 10.6)
%p
  If the embedded video doesn't work, try clicking on this link:
  %a{:href => @video_src}= @video_src