#video
  %object{:width => 480, :height => 296}
    %param{:name => "movie", :value => "http://www.youtube.com/v/t0fe800C2CU&hl=en_US&fs=1&"}
    %embed{:src => "http://www.youtube.com/v/t0fe800C2CU&hl=en_US&fs=1&", :type => "application/x-shockwave-flash"}