#video
  %object{:width => 480, :height => 296}
    %param{:name => "movie", :value => @video_src}
    %embed{:src => @video_src, :type => "application/x-shockwave-flash", :width => 480, :height => 296}