#video
  %video{:src => "rtsp://94.228.215.124:80/jonathan_ive_design.mp4", :controls => "on"}
    Video tag not supported, please use a browser that supports the video tag (Safari 3.1, Chrome 3.0, Firefox 3.5)