#video
  %object{:width => 480, :height => 285, :codebase => "http://www.apple.com/qtactivex/qtplugin.cab", :classid => "clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" }
    %param{:name => "src", :value => @video_src}
    %param{:name => "qtsrc", :value => @video_src}
    %param{:name => "href", :value => @video_src}
    %param{:name => "autoplay", :value => "true"}
    %param{:name => "controller", :value => "true"}
    %param{:name => "type", :value => "video/quicktime"}
    %param{:name => "target", :value => "myself"}
    %param{:name => "loop", :value => "true"}
    %embed{:src => @video_src, :qtsrc => @video_src, :href => @video_src, :width => 480, :height => 285, :autoplay => "true", :controller => "true", :loop => "true"}

%p
  To view this stream your browser needs a plugin that can show rtsp/rtp streams with H.264 video and AAC audio codecs. 
  Any version of QuickTime higher than 4.0 should work.

%p 
  If the embedded video doesn't work, try clicking on this link:
  %a{:href => @video_src}= @video_src